############################ 
# COSTUM MACROS THAT NEED TO START AT (START) OF PRINT_END
############################
[gcode_macro _SAF_END_PRINT_START]
gcode:
    {% if printer["output_pin AUTO_UNLOAD"].value %}
        _UNLOAD_TOOL_PRINT
    {% else %}
        RESPOND MSG="Auto-unload disabled, keeping filament loaded"
    {% endif %}
   
############################ 
# COSTUM MACROS THAT NEED TO START AT (START) OF PRINT_CANCEL
############################
[gcode_macro _SAF_ON_CANCEL]
gcode:
    {% if printer["output_pin AUTO_UNLOAD"].value %}
        _UNLOAD_TOOL_PRINT
    {% else %}
        RESPOND MSG="Auto-unload disabled, keeping filament loaded"
    {% endif %}
   PARK_FOR_CANCEL